<div style="margin:auto; width:400px;font-size:14px; border:1px solid #000;padding:20px 0px 10px 0px;">

<%#= form_for :employee, :url => company_employees_path(@company_id), :html => { :method => 'post' } do |f| %>

<%= form_for [:company, @employee],:html =>{:id =>'frmuser', :multipart => true}  do |f| %>
<% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div style="text-align:center;">

  
<p >
    <%= f.label :first_name, "FirstName" %><br />
    <%= f.text_field :first_name,:class =>"validate[required]"%>
  </p>
  
  <p  >
     <%= f.label :last_name, "LastName" %><br />
     <%= f.text_field :last_name,:class =>"validate[required]" %>
  </p>
<p  >
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email,:class =>"validate[required]"%>
  </p>
  
  <p >
     <%= f.label :phone_no, "Phone_no" %><br />
     <%= f.text_field :phone_no,:class =>"validate[required]" %>
  </p>

  <p><%= f.submit "Submit" %>
  <input type="reset" value="Reset" />
</p>
</div>

<% end %>
</div>
