<h1> "Employee" </h1>


<p>
  <strong>First_name:</strong>

  <%= @employees.first_name %>
</p>
<p>
  <strong>Last_name:</strong>
  <%= @employees.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @employees.email %>
</p>
<p>
  <strong>Phone_no:</strong>
  <%= @employees.phone_no %>
</p>
<p>
  <%= link_to "Edit", edit_employee_path(@employees) %> |
  <%= link_to "Destroy", @employees, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", employees_path %>
</p>
