<div style="margin:auto; text-align:center; width:400px;font-size:14px; border:1px solid #000;padding:20px 0px 10px 0px;">


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
